 body {
      background-color: #e6f7f9;
      font-family: Arial, sans-serif;
      padding: 30px;
    }

    h2 {
      color: #0c7e12;
    }

    .search-bar {
      margin: 20px 0;
    }

    .search-bar input {
      padding: 10px;
      width: 200px;
    }

    .search-bar button {
      padding: 10px 20px;
      background-color: #1a750e;
      color: white;
      border: none;
      cursor: pointer;
    }

    .job-listing {
      background-color: #fff;
      padding: 15px;
      margin-bottom: 10px;
      border-left: 5px solid #247a12;
    }

    .job-title {
      font-weight: bold;
      color: #0d5f18;
    }

    .location, .date {
      color: gray;
    }


  .btn {
  background-color: white;
  color: #1e7f4f; /* verde medio oscuro */
  border: 2px solid #1e7f4f;
  padding: 12px 36px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn {
  background-color: #e6f5ec; /* verde muy clarito al pasar el mouse */
  transform: scale(1.05);
}